body{
    background-color: lightblue;

}
h1{
    background-color: #1877F2;
    color: #444;
    font-size: 35px;
    text-align: center;
}
h2{
    text-align: center;
    color: #444;
    text-transform: capitalize;
}
.navbar{
    background-color: #fff;
}
.navbar img{
    height: 180px;
    margin-left: 100px;
}

